@use "./variable" as *;
@use "./mixin" as *;

$colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    success: $color-success,
    danger: $color-danger,
    warning: $color-warning,
    info: $color-info,
    light: $color-light,
    dark: $color-dark
);
$fontSizes: (
    base: $text-base,
    1: $text-xl,
    2: $text-2xl,
    3: $text-3xl,
    4: $text-4xl
);
$fontWeights: (
    thin: $fw-thin,
    exlight: $fw-exlight,
    light: $fw-light,
    normal: $fw-normal,
    medium: $fw-medium,
    semibold: $fw-semibold,
    bold: $fw-bold
);
$sizes: 1rem, 2rem, 3rem, 4rem, 5rem;
$i: 1;
//-------------- background --------------
@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}
//--------------- color------------------
@each $color, $value in $colors {
    .text-#{$color} {
        color: $value !important;
    }
}
//--------------- btn ------------------
@each $color, $value in $sizes {
    .btn-#{$color} {
        background-color: $value;
    }
    .btn-outline-#{$color} {
        border: 1px solid $value;
    }
}
//--------------- font-size-------------
@each $size, $value in $fontSizes {
    .fs-#{$size} {
        font-size: $value !important;
    }
}
//-------------- font-weight-------------
@each $weight, $value in $fontWeights {
    .fw-#{$weight} {
        font-weight: $value !important;
    }
}

.bg-linear-gradient {
    background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
}
.btn-buy {
    @include style_button(2.4rem, $fw-normal, $color-dark, #9de167, 1rem 2rem, none, 0px, #a7ec6e, $color-dark);
}
.btn-add-to-cart {
    @include style_button(
        2.4rem,
        $fw-medium,
        $color-light,
        linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%),
        1rem 2rem,
        none,
        0px,
        linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d931f3 89.71%),
        $color-light
    );
}
.products {
    .product-item {
        .card-title {
            font-size: 2.4rem;
        }
        .card-price {
            font-size: 2.4rem;
            font-weight: $fw-semibold;
            background: #dedddc;
            padding: 1rem 2rem;
        }
    }
}
.hearts {
    cursor: pointer;
}

form {
    font-family: $font-roboto;
    label {
        font-size: 1.8rem;
    }
    input {
        padding: 1rem;
        font-size: $text-base;
        background: $color-light-secondary;
        &::placeholder {
            color: $color-dark;
        }
        width: 44.3rem;
        max-width: 100%;
        border-radius: 0.5rem;
        @include mobile() {
            width: 30rem;
        }
    }
    button[type="submit"] {
        @include style_button(1.4rem, $fw-medium, $color-light, #6200ee, 1rem 2rem, 0, 5rem, #7822f0, $color-light);
        text-transform: uppercase;
    }
}
