//------------- color ---------------
$color-primary: #6200ee;
$color-light-primary: #1877f2;
$color-secondary: #dedddc;
$color-dark-secondary: #d9d9d9;
$color-light-secondary: #21212114;
$color-success: #1ed90e;
$color-danger: #fc0303;
$color-warning: #f8b653;
$color-info: #0dcaf0;
$color-light: #fff;
$color-dark: #000000;

//------------- font ---------------
//font-family
$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;

//font-size
$text-xs: 1rem;
$text-sm: 1.2rem;
$text-md: 1.4rem;
$text-lg: 1.6rem;
$text-base: 1.6rem;
$text-xl: 1.8rem;
$text-2xl: 2rem;
$text-3xl: 3rem;
$text-4xl: 4rem;

//font-weight
$fw-thin: 100; // Thin
$fw-exlight: 200; // Extra Light (Ultra Light)
$fw-light: 300; // Light
$fw-normal: 400; // Regular (Normal)
$fw-medium: 500; // Medium
$fw-semibold: 600; // Semi Bold (Demi Bold)
$fw-bold: 700; // Bold
$fw-exbold: 800; // Extra Bold (Ultra Bold)
$fw-black: 900; // Black (Heavy)
