.bg-header {
    background: rgba(0, 0, 0, 0.5);
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./glassesImage/background.jpg') no-repeat center;
    background-size: cover;
}

.model {
    padding-top: 30%;
    width: 70%;
    margin: auto;
}

.model .avatar {
    width: 250px;
}

.model .glass {
    top: 27%;
    left: 0;
}

.glassItem {
    border: 1px solid #000;
    cursor: pointer;
}

.glassItem.active {
    border: 2px solid #f00;
}

.glassModal .glass img {
    opacity: 0.5;
}

.anim-glass {
    animation: animGlass .3s linear;
}

@keyframes animGlass {
    0% {
        transform: rotate(40deg);
        opacity: 0.6;
    }

    50% {
        transform: rotate(25deg);
        opacity: 0.8;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}