@use "../abstracts/mixin" as *;
@use "../abstracts/variable" as *;
.form-search {
    input {
        @include mobile() {
            width: 30rem;
        }
    }
}
.search-filter {
    title {
        @include style_text(1.8rem, $fw-medium, ragba(0, 0, 0, 0.6));
    }
    button {
        padding: 1rem;
        font-size: $text-base;
        background: $color-light-secondary;
        width: 44.3rem;
        max-width: 100%;
        &:hover {
            background: #d6d4d2;
        }
        @include mobile() {
            width: 30rem;
        }
        svg {
            width: 3rem;
        }
    }
}
