@use "./template/header";
@use "./template/footer";
@use "./pages/home";
@use "./pages/search";
@use "./pages/detail";
@use "./pages/login";
@use "./pages/register";
@use "./pages/profile";
@use "./pages/carts";
